/*
  * =================================
  * Colophon for SassChops
  * Get your Sass a cut above the rest
  * Created by Claudina Sarahe
  * Liscensed Apache
  * Copyright 2014
  * ==================================
 */
/*------------------------------------*\
    #BOX-SIZING
\*------------------------------------*/
/* line 17, ../sass/base/_root.scss */
html,
body {
  height: 100%;
}

/* line 22, ../sass/base/_root.scss */
html {
  font-size: 1em;
  line-height: 2;
  background-color: #fff;
  color: #222;
  overflow-y: scroll;
  min-height: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

/* line 35, ../sass/base/_root.scss */
body {
  font-family: "BullenReg Georgia serif";
}

/* Image, Media, Video Objects */
/* line 75, ../sass/base/_root.scss */
img, video {
  max-width: 100%;
  height: auto;
}

/* line 4, ../sass/components/_notifications.scss */
.notification {
  border-radius: 0.2em;
  color: #1b181b;
  background-color: #948491;
  border: 1px solid #7b6b78;
  font-family: sans-serif;
  font-weight: normal;
  font-size: 0.9rem;
  line-height: 1.25;
  text-transform: uppercase;
  padding: 0.2em 0.5em;
  text-shadow: #b8adb6 1px 1px 0;
}

/* line 31, ../sass/components/_notifications.scss */
.notification--alert {
  color: #cc00a3;
  background-color: #ff66e0;
  border-color: #ff33d6;
  text-shadow: #800066 1px 1px 0;
}
