/*
  * =================================
  * Colophon for SassChops
  * Get your Sass a cut above the rest
  * Hand-crafted by Claudina Sarahe
  * License Apache
  * 2014 | 1.0.1
  * ==================================
 */
html {
  font-size: 1em;
  line-height: 0.375;
  background-color: #f6e9f3;
  color: #2d0120;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased; }

img, video {
  max-width: 100%;
  height: auto; }

html {
  height: 100%;
  overflow: hidden; }

body {
  display: flex;
  flex-direction: column;
  height: 100%; }

.r-main {
  flex: 1;
  overflow-y: scroll; }

.r-banner, .r-footer {
  flex: 0 0 auto;
  padding: 0.5em 1em; }

.r-banner {
  border-bottom: 1px solid #450232;
  background: #450232; }
  .r-banner-title {
    color: #fee1f6; }
  .r-banner-subtitle {
    color: #fdb0e7; }

.r-footer {
  border-top: 1px solid #e0ccda;
  background: #e7dfe5; }

[class*="sim--"] {
  margin: 1em 1em 2em;
  padding: 0 1em 1em;
  background: #fff;
  border: 1px solid #e0ccda; }

.sim-title {
  line-height: 1.5;
  color: #380245;
  border-bottom: 1px solid #e0ccda; }

.notification {
  border-radius: 0.2em;
  font-family: sans-serif;
  font-weight: normal;
  font-size: 0.9rem;
  line-height: 1.25;
  text-transform: uppercase;
  padding: 0.2em 0.5em; }
  .notification + .notification {
    margin-top: 1em; }

.notification--info {
  color: #fdcef8;
  background-color: #7c046e;
  border: 1px solid #630358;
  text-shadow: rgba(68, 59, 67, 0.9) 1px 1px 0; }

.notification--success {
  color: #14523a;
  background-color: #70dbb2;
  border: 1px solid #2eb883;
  text-shadow: rgba(82, 224, 170, 0.3) 1px 1px 0; }

.notification--alert {
  color: #ffcce0;
  background-color: #99003b;
  border-color: #ff3381;
  text-shadow: rgba(128, 0, 49, 0.9) 1px 1px 0; }
