// Base Output
// ===========


// @@@ TODO look at other frameworks/what is needed for type
// and absract it out


/**
 * High-, page-level styling.
 *
 * 1. Set the default `font-size` and `line-height` for the entire project,
 *    sourced from our default variables. The `font-size` is calculated to exist
 *    in ems, the `line-height` is calculated to exist unitlessly.
 * 2. Force scrollbars to always be visible to prevent awkward ‘jumps’ when
 *    navigating between pages that do/do not have enough content to produce
 *    scrollbars naturally.
 * 3. Ensure the page always fills at least the entire height of the viewport.
 * 4. Prevent certain mobile browsers from automatically zooming fonts.
 * 5. Fonts on OSX will look more consistent with other systems that do not
 *    render text using sub-pixel anti-aliasing.
 */

@import 'base/box-sizing';


html,
body {
  height: 100%;
}

html {
  font-size: ($base-font-size / 16px) * 1em; /* [1] */
  line-height: $base-line-height / $base-font-size; /* [1] */
  background-color: #fff;
  color: #222;
  overflow-y: scroll; /* [2] */
  min-height: 100%; /* [3] */
  -webkit-text-size-adjust: 100%; /* [4] */
      -ms-text-size-adjust: 100%; /* [4] */
  -moz-osx-font-smoothing: grayscale; /* [5] */
   -webkit-font-smoothing: antialiased; /* [5] */
  text-rendering: optimizeLegibility;
}

body {
  font-family: 'BullenReg', Georgia, serif;
}

[role='main'] {
  clear: both;
  margin: 1em;
}


// // Headers
// // -------

h1 { @extend %h1; }

// h2 { @extend %h2; }

// h3 { @extend %h3; }


// // Links
// // -----

// a {
//   #{$link} { @extend %link; }

//   #{$focus} { @extend %link-focus; }
// }


// // Inline Elements
// // ---------------

// em { font-style: italic; }

// strong { font-weight: bold; }


// // Paragraph
// // ---------

// p { @extend %paragraph-styles; }


// // Image
// // ---------

img, video {
  max-width: 100%;
  height: auto;
}
