// Colors
// ======

////////////////////////////////////////////
// SCHEME

// Pick the base color for your scheme:
$cs-primary: #3914AF;

// Select your scheme from the list and place it here:
$cs-scheme: accented-analogic; // mono, complement, triad, tetrad, analogic, accented-analogic

// How distant do you want the hue offset to be:
$cs-hue-offset: 270;

// How distant do you want tints and shades to be from their base:
$cs-brightness-offset: 49;

$cs-color-model: rgb; // rgb, ryb
$cs-colorblind: deuteranopia; // protanopia, deuteranopia, tritanopia, protanomaly, deuteranomaly, tritanomaly, monochromacy, amonochromacy

// Do you want to “harmonize” your color scheme with photoshop-like blendmodes?
// See Erica Schoonmaker's technique: http://methodandcraft.com/videos/creating-harmonious-color-schemes
// Modes:
// null (no effect), normal, multiply, lighten, darken, darkercolor, lightercolor, lineardodge, linearburn,
// difference, screen, exclusion, overlay, softlight, hardlight, colordodge, colorburn, linearlight,
// vividlight, pinlight, hardmix, colorblend, dissolve, divide, hue, luminosity, saturation, subtract
$cs-harmonize-mode    : null;
// What is your common harmonizing color?
$cs-harmonize-color   : $cs-primary;
// How strong do you want the effect to be?
$cs-harmonize-amount  : 10%;

$primary   : cs-primary();
$secondary : cs-secondary();
$tertiary  : cs-tertiary();
$quadrary  : cs-quadrary();


// Base Colors
// -----------

$colors: (
  'basecolors': (
    'primary': $primary,
    'secondary': $secondary,
    'tertiary': $tertiary,
    'quadrary': $quadrary,
    )
);

