// Colors
// ======

$base-color: hsla(317, 94%, 14%, 1); // [1] Purple-ish

$palette-primary: $base-color;
$palette-secondary: adjust-color($palette-primary, $hue: 197);
$palette-tertiary: adjust-color($palette-primary, $hue: 5);
$palette-quadrary: adjust-color($palette-primary, $hue: 5);

$border-light: adjust-color($base-color, $saturation: -70%, $lightness: 70%)

