// Typography
// ==========

// @@@ TODO review micah's article and chris's typography idea


// Font Variables
// --------------

$base-font-size: 16px;
$base-line-height: 32px;
$base-background-color: #fff;
$base-text-color: #222;
$base-font-family: 'BullenReg Georgia serif';



// Headings
// --------

%h1 {
  font-family: "BullenBoldItalic";
  font-size: ms(2);
}

%h2 {

}

%h3,
%h4,
%h5 {
  font-weight: bold;
}


// Links
// -----

$link: '&:link, &:visited';
$focus: '&:hover, &:focus, &:active';

%link {
  // color: color($link-color);
  text-decoration: none;
  cursor: pointer;
}

%link-focus {
  // color: color($link-focus);
}


// Lists
// -----

%ordered-list-styles {
  list-style: decimal;
}

%undered-list-styles {
  list-style: disc;
}

%nested-list-styles {
  margin-left: 0.5em;
}

%list-styles {
  margin-bottom: 0.5em;
  margin-left: 0.5em;
}

%inline-list {
}

%lists {
  ol,
  ul {
    @extend %list-styles;

    ol,
    ul {
      @extend %nested-list-styles;
    }
  }

  ol { @extend %ordered-list-styles; }

  ul { @extend %undered-list-styles; }
}

// Blocks
// ------

%paragraph-styles {
  max-width: 40em;
}
