// Typography
// ==========
// @see http://css-tricks.com/opt-in-typography/


// Font Variables
// --------------

$base-font-size: 16px;
$base-line-height: 4px;
$base-background-color: #fff;
$base-text-color: #222;


// Lists
// -----

%ordered-list-styles {
  list-style: decimal;
}

%undered-list-styles {
  list-style: disc;
}

%nested-list-styles {
  margin-left: 0.5em;
}

%list-styles {
  margin-bottom: 0.5em;
  margin-left: 0.5em;
}

%lists {
  ol,
  ul {
    @extend %list-styles;

    ol,
    ul {
      @extend %nested-list-styles;
    }
  }

  ol { @extend %ordered-list-styles; }

  ul { @extend %undered-list-styles; }
}

// Blocks
// ------

%paragraph-styles {
  max-width: 40em;
}
