// Border-box
// ##########
// Set the global `box-sizing` state to `border-box`.
//
// css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice
// paulirish.com/2012/box-sizing-border-box-ftw

@mixin border-box($border-box: border-box){
    html {
        -webkit-box-sizing: $border-box;
           -moz-box-sizing: $border-box;
                box-sizing: $border-box;
    }

    * {

        &,
        &:before,
        &:after {
            -webkit-box-sizing: inherit;
               -moz-box-sizing: inherit;
                    box-sizing: inherit;
            }

    }
}

